@import url('../font/css.css');
@import url('../font/css2.css');

* {
    font-size: 11px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0;
}

@media screen and (min-width: 992px) {
    .inform-block {
        display: flex;
        flex-direction: row;
    }

    .hide-adaptive-md{
        display: none;
    }

    .preview{
        width: 480px;
        height: 215px;
        box-shadow:0 0 5px rgba(0,0,0,0.5);
        position: relative;
    }

    .sing-dollar{
        font-size: 10px;
        bottom: 0;
        padding-bottom: 3px;
    }
    
    .dollar{
        font-size: 18px;
    }

    .button-card{
        background-color: rgb(58, 58, 58);
        text-align: center;
        color: white;
        padding: 4px 4px 0 4px;
    }

    .products-container{
        padding: 0;
    }

    .sections{
        display: flex;
        flex-direction: row;
    }

    .hide-style-form-xs{
        display: none!important;
    }

    .style-form {
        display: flex;
        flex-direction: row;
        margin-right: 50px;
    }

    .header-logo{
        font-family: 'Noto Sans JP', sans-serif;;
        font-size: 24px;
        color: white;
        font-weight: 400;
        padding-left: 6px;
    }

    .finish-position{
        margin-bottom: 100px;
    }

    .footer__inform{
        display: flex;
        flex-direction: row;
        height: 15px;
        color: white;
        font-weight: 400;
    }

    .finish-footer{
        margin-top: 8px;
        margin-bottom: 60px;
    }

    .header--nav{
        background-color: #385479;
        display: flex;
        justify-content: space-between;
        padding-top: 12px;
    }
    
    .header-inform{
        padding-top: 10px;
    }

    .nav-link--style{
        margin: 0 4px;
    }

    .text-preview{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 992px){
    .inform-block {
        display: flex;
        flex-direction: column;
    }

    .hide-adaptive{
        display: none;
    }

    .adaptive-md{
        display: flex;
        flex-direction: row;
    }

    .add{
        display: none;
    }

    .auxiliary-window{
        padding-right: 2px;
    }

    .products-container{
        padding: 0 61px 0 4px;
    }

    .preview{
        width: 100%;
        height: max-content;
        box-shadow:0 0 5px rgba(0,0,0,0.5);
        position: relative;
    }

    .hide-sletter{
        display: none;
    }

    .product{
        padding: 12px 12px 12px 12px ;
    }

    .sing-dollar{
        font-size: 10px;
        bottom: 0;
        padding-bottom: 3px;
    }
    
    .dollar{
        font-size: 18px;
    }

    .button-card{
        background-color: rgb(58, 58, 58);
        text-align: center;
        color: white;
        padding: 4px 4px 0 4px;
    }

    .sections{
        display: flex;
        flex-direction: row;
    }

    .language-selection--block {
        background-color: white;
    }

    .hide-style-form-xl{
        display: none;
    }

    .hide-style-form-xs{
        display: flex;
        flex-direction: row;
        padding-bottom: 6px;
    }

    .form-control{
        margin-left: 20px;
    }

    .header-logo{
        font-family: 'Noto Sans JP', sans-serif;;
        font-size: 24px;
        color: white;
        font-weight: 400;
        padding-left: 6px;
    }
    
    .footer__inform{
        display: flex;
        flex-direction: row;
        height: 15px;
        color: white;
        font-weight: 400;
    }

    .finish-footer{
        margin-bottom: 60px;
    }

    .container{
        max-width: 100%;
    }

    .store-selection__select {
        background-color: white;
    }

    .show-page-selection{
        background-color: white;
    }

    .show-page-selection-second{
        background-color: white;
    }

    .currency-selection{
        background-color: white;
    }

    img.img-product{
        height: auto;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    .hide-products-inform {
        width: 103%;
        left: -3px;
        padding: 0 20px 20px 20px;
        top: 359px;
    }

    input.form-control {
        background-color: white;
    }  

    .text-preview{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 720px){ 
    .img-logo{
        width: 55px;
        height: 65px;
    }

    .header-logo{
        font-size: 40px;
        padding: 0 11px 0 6px;
    }

    .inform-block {
        display: flex;
        flex-direction: column;
    }

    .hide-adaptive-md{
        display: none;
    }

    .products-container{
        padding: 0;
        min-width: 100%;
    }

    .preview{
        width: 100%;
        height: max-content;
        box-shadow:0 0 5px rgba(0,0,0,0.5);
        position: relative;
    }

    .products{
        display: flex;
        flex-direction: row; 
    }
    
    img.img-product{
        height: auto;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    
    .button-card{
        background-color: rgb(58, 58, 58);
        text-align: center;
        color: white;
        width: 90px;
        height: 26px;   
    }

    .text-preview{
        margin-top: 30px;
    }

    .sections{
        display: flex;
        flex-direction: row;
    }

    .language-selection--block {
        background-color: white;
    }

    .hide-style-form-xl{
        display: none;
    }

    .nav-link--style{
        padding: 0 4px 0 4px;
    }
   
    .footer__border{
        display: none;
    }

    .finish-position{
        margin-bottom: 0;
    }

    .text-preview{
        padding: 0 17px 0 17px;
        margin-top: 15px;
    }
    
    .footer__inform{
        display: flex;
        flex-direction: row;
        height: 15px;
        color: white;
        font-weight: 400;
        margin-bottom: 20px;
    }

    .store-selection__select {
        background-color: white;
    }

    .show-page-selection{
        background-color: white;
    }

    .show-page-selection-second{
        background-color: white;
        height: 28px!important;
    }

    .currency-selection{
        background-color: white;
    }

    .check-box{
        height: 40px!important;
    }

    .settings{
        font-size: 6px;
    }

    .footer__inform{
        font-size: 6px;
    }

    .footer__inform--p{
        font-size: 6px;
    }

    .hide-products-inform {
        width: 103%;
        top: 300px;
        padding: 0 20px 20px 20px;
    }   
}

@media screen and (max-width: 320px){
    .tabs{
        flex-wrap: wrap;
    }

    .navigation-panel{
        padding-left: 5px;
    }
    
    .img-logo{
        width: 55px;
        height: 65px;
    }

    .inform-block {
        display: flex;
        flex-direction: column;
    }

    .hide-adaptive-md{
        display: none;
    }

    .products-container{
        min-width: 100%;
    }

    .preview{
        width: 100%;
        height: max-content;
        box-shadow:0 0 5px rgba(0,0,0,0.5);
        position: relative;
    }

    .products{
        display: flex;
        flex-direction: row;
        
    }
    
    img.img-product{
        height: auto;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto
    }
   
    .button-card{
        background-color: rgb(58, 58, 58);
        text-align: center;
        color: white;
        width: 70px;
        height: 35px;
    }

    .text-preview{
        margin-top: 30px;
    }

    .sections{
        display: flex;
        flex-direction: row;
    }

    .language-selection--block {
        background-color: white;
    }

    .hide-style-form-xl{
        display: none;
    }

    .nav-link--style{
        padding: 0 4px 0 4px;
    }
   
    .footer__border{
        display: none;
    }

    .finish-position{
        margin-bottom: 0;
    }

    .text-preview{
        padding: 0 17px 0 17px;
        margin-top: 15px;
    }
    
    .footer__inform{
        display: flex;
        flex-direction: row;
        height: 15px;
        color: white;
        font-weight: 400;
        margin-bottom: 20px;
    }

    .store-selection__select {
        background-color: white;
    }

    .show-page-selection{
        background-color: white;
    }

    .show-page-selection-second{
        background-color: white;
        height: 28px!important;
    }

    .currency-selection{
        background-color: white;
    }

    .check-box{
        height: 40px!important;
    }

    .settings{
        font-size: 6px;
    }

    .footer__inform{
        font-size: 6px;
    }

    .footer__inform--p{
        font-size: 6px;
    }

    .hide-products-inform{
        top: 300px;
    } 
}

.header-color{
    background-color: rgb(18, 38, 58);;
}

.header-inform {
    display: flex;
    flex-flow: column;
    position: relative;
}

.header-logo{
    text-decoration: none;
}

.navigation-panel{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
    margin-bottom: 10px;
}

.form-inline{
    margin: 8px 0 8px 0;
}

.header-logo--brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 12px;
}

.header-inform-style {
    color: white;
}

.nav-link--style {
    color: #ab8843;
    text-decoration: underline;
}

.nav-link--style :hover {
    text-decoration: none;
}

.tab-style {
    color: rgb(188, 209, 224);
    font-weight: 600;
}

.currency-name--style {
    color: white;
    font-weight: 600;
    font-size: 13px;
    padding-left: 12px;
}

.container {
    width: 990px;
    padding: 0;
}

.apparel{
    display: flex;
    flex-direction: column;
    box-shadow:0 0 10px rgba(0,0,0,0.5) ;
}

.header-inform {
    display: flex;
    flex-flow: column;
    position: relative;

}

.form-control {
    margin-left: 6px;
    padding: 1px;
    background-color: white;
}

.btn-outline-success{
    margin: 8px 0 8px 0;
    padding: 2px 3px 2px 3px;
    margin-left: 6px;
    border-radius: 3px;
    border: 1px double rgba(135, 167, 200, 1);
    background: -webkit-gradient(linear, 0 0, 0  100%, from(#D0ECF4), to( rgba(57, 96, 135, 1)), color-stop(0.3,rgba(135, 167, 200, 1)));
    min-width: 55px;
    color: white;
    font-weight: 800;
}

input.form-control {
    width: 270px!important;
    background-color: white;
}

.nav-item {
    display: flex;
    flex-direction: row;    
}

.nav-link {
    padding: 0;
}

.language-selection {
    display: flex;
    flex-flow: row;
    margin-top: 12px;
}

.language-selection--name {
    margin-right: 10px;
}

.language-selection--block {
    width: 230px;
}

.tabs {
    display: flex;
    flex-direction: row;
    background-color: rgb(18, 38, 58);
    padding-left: 12px;
}

.tab {
    font-size: 13px;
    padding: 4px 9px 4px 9px;
}

.dropdown {
    display: flex;
    flex-direction: column;
}

.currency-name{
    display: flex;
    flex-direction: row;
}

.currency-selection {
    width: 180px;
}

.currency-block{
    background: -webkit-gradient(linear, 0 0, 0  100%, from(#D0ECF4), to( rgba(57, 96, 135, 1)), color-stop(0.1,rgba(135, 167, 200, 1)));
    border: 1px double rgba(35, 90, 191, 1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px 8px 8px 8px;
}

.dropdown:hover .dropdown-hide{
    display: flex;
}

.dropdown-hide {
    display: none;
    flex-direction: column;
    padding: 8px 10px 11px 18px;
    border-top: 1px double rgb(188, 209, 224);
    border-bottom: 1px double rgb(96, 147, 204);
    background-color: rgb(232, 244, 254);
}

.dropdown-item {
    font-size: 15px;
    color: rgb(96, 147, 204);
    padding-bottom: 5px;
}

.dropdown-toggle {
    font-size: 15px;
    color: black;
    padding: 5px 10px 5px 10px ;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px double #c8c8c8;
}

.pop, .new-sletter{
    margin-top: 16px;
}

.hide{
    display: none;
}

img.img-pointer{
    width: 12px;
    height: 16px;
   padding: 4px 0 4px 0;
}

img.add {
    margin-top: 20px;
    width: 200px;
    height: 210px;
    border: 1px double #c8c8c8;
}

.tags {
    margin-right: 6px;
    width: 200px;
    border: 1px double #c8c8c8;
}

.tags-name{
    color: rgb(221, 146, 80);
    font-size: 14px;
    font-weight: 700;
    padding: 6px 12px 6px 12px;
    border-bottom: 1px double #c8c8c8;
    background: -webkit-gradient(linear, 0 0, 0  100%, from(rgba(216, 216, 215, 1)), to( rgba(247, 247, 246, 1)), color-stop(0.3,rgba(180, 180, 179, 0.1)));   
}

.tags-body{ 
    font-size: 12px;
    padding: 6px 12px 6px 12px;
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 247, 245);
}

.tags-under{
    text-decoration: underline;
}

.tags-end{
    background: -webkit-gradient(linear, 0 0, 0  100%, from(rgba(201, 209, 212, 1)), to( rgba(224, 229, 232, 1)), color-stop(0.7,rgba(201, 209, 219, 0.3)));
    font-size: 12px;
    text-decoration: underline;
    display: flex;
    justify-content: flex-end;
    padding: 8px 10px 8px 0;
}

.dropdown-block {
    padding-top: 15px;
}

.home-apparel{
    display: flex;
    flex-direction: row;
    padding: 16px 16px 16px 16px;
}

.home-apparel-style{
    font-weight: 600;
}

.input-tabs{
    width: 150px;
    border: 1px double #c8c8c8;
}

.button-tabs{
    max-width: 70px;
    height: 24px;
    margin-top: 3px;
    background-color: rgb(105, 131, 151);
    border: 1px double rgba(35, 90, 191, 1);
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 1px 2px 0 3px;
}

.text-preview{
    display: flex;
    justify-content: space-between;
}

.back-signal{
    margin-right: 8px;
    border-radius: 1px;
    background-color: rgb(227, 136, 89);
    height: 11px;
    width: 11px;
}

.signal-img{
    padding: 0 0 7px 1px;
}

.subscribe{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-tabcontent{
    width: 100%;
}

.menu {
    padding-right: 25px;
}

.text-preview{
    font-size: 20px;
    color: rgb(18, 38, 58);
    display: flex;
    align-items: center;
}

.tabcontent{
    width: 100%;
    height: 100%;
}

.img-tabcontent{
    width: 100%;
    height: 100%;
}

.button-block{
    position: absolute;
    width: 100%;
    height: 38px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%)
    
}

.button-back{
    position: relative;
    background-color: transparent;
}

.button-pointer{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.button-pointer{
    padding: 0;
    border: none;
}

.check-box{
    margin-top: 4px;
    height: 30px;
    border-top:1px double #c8c8c8 ;
    border-bottom: 1px double #c8c8c8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: -webkit-gradient(linear, 0 0, 0  100%, from(rgba(247, 247, 246, 1)), to( rgba(216, 216, 215, 1)), color-stop(0.7,rgba(180, 180, 179, 0.1)));
    padding: 0 8px 0 8px;
}

.check-box--border-a{
    margin-top: 12px;
}

.check-box--text{
    display: flex;
    flex-direction: row;
}

.text--name{
    font-weight: 600;
    padding-right: 8px;
}

.show-page{
    display: flex;
    flex-direction: row;
}

.show-page-selection{
    padding: 0;
    margin: 0 8px 0 8px;
    height: 18px;
    width: 50px;
}

.show-page-selection-second{
    padding: 0;
    margin: 0 8px 0 8px;
    height: 18px;
    width: 100px;   
}

.page{
    display: flex;
    flex-direction: row;
}

.button-check{
    margin: 0 2px 0 2px;
}

.text-page-style{
    color: rgb(221, 146, 80);
    padding-right: 37px;
}

.text--value{
    margin-right: 3px;
}

.show-page--text-show{
    margin-right: 12px;
}

.show-page--text-page{
    margin-left: 12px;
}

.products{
    padding: 0;
    display: flex;
    flex-direction: row;
    margin: 0;
    flex-basis: auto; 
}

.product{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    padding: 0;
     
}

.product:hover .product--hide__inform{
    display: block;
    border-top: none;
    border-right: 3px solid rgb(216, 101, 73);
    border-left: 3px solid rgb(216, 101, 73);
    border-bottom: 3px solid rgb(216, 101, 73);
    box-shadow: 0 12px 10px rgba(0,0,0,0.5);
}

.product:hover .product--preview{
    box-shadow: 0 12px 10px rgba(0,0,0,0.7);
    border: 3px solid rgb(216, 101, 73);
    border-bottom: none;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.product:hover .button-card{
    background-color: rgb(216, 101, 73);
}

.product:hover .rating-product {
    color: rgb(216, 101, 73);
}

.product:hover .product--hide{
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.product--preview{
    position: relative;
    padding: 12px 12px 0 12px;
    border: 3px solid transparent; 
}

.product--hide__inform{
    background-color: white;
    position: absolute;   
    z-index: 5;
    margin-left: auto;
    margin-right: auto;
    display: none;
    padding: 0 12px 12px 12px;
    border-top: none;  
}

.product--hide{
    position: relative;
    background-color: white;
}

.inform-product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 18px;
}

.money-dollar{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.rating-product{
    
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.line-rating{
    border-bottom: 1px double #c8c8c8;
    width: 10%;
    margin: 0px 4px 8px 4px;
}

.input-radio__border{
    margin-right: 5px;
}

.img-paypal{
    margin-top: 15px;
    padding-left: 12px;
}

.text-product{
    height: 48px;
}

.tags-body{
    display: flex;
    flex-direction: column;
}

.input-radio{
    margin-top: 4px;
    margin-bottom: 4px;
}

.footer__border{
    height: 17px;
    background-color: rgb(188, 209, 224);
}

.footer{
    background-color: rgb(105, 131, 151);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer__settings{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
}

.footer__settings--top{
    margin-top: 16px;
}

.footer__inform--top{
    margin-top: 22px;
}

.store-selection__name{
    margin-right: 12px;
}

.store-selection{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.settings{
    color: white;
    font-weight: 500;
    padding:0 5px 0 5px ;
}

.footer__inform--p{
    margin: 0;
    font-weight: 700;
    text-decoration: underline;
}

.apparel{
    background: -webkit-gradient(linear, 0 0, 0  50%, from(rgba(251, 250, 247, 1)), to( white), color-stop(0.1,rgba(180, 180, 179, 0.1)));
}

.footer-color{
    background-color: rgb(80, 103, 118);
}

.show {
    display: flex;
}

.show-block{
    display: block;
}

.position {
    position: absolute;
}

.active-button-check {
    color: #007bff;
    text-decoration: underline;
}
